@model IEnumerable<Product>

<h2 class="text-center display-5" >Products</h2>

<div class="d-grid gap-2 d-md-flex justify-content-md-end my-2">
    <a href="/Product/InsertProduct/" class="btn btn-outline-primary justify-content-md-end" aria-current="page"><i class="bi bi-plus-circle"></i> Create New Product</a>
</div>


<table id="tblData" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category ID</th>
            <th>On Sale</th>
            <th>Stock Level</th>
            <th></th>
        </tr>
    </thead>

@*    replaced with datatables 
*@   @* @foreach (var product in Model)
    {
        <tr>
            <td>
                <a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a>
                </td>

            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CategoryID</td>
            <td>@product.OnSale</td>
            <td>@product.StockLevel</td>
        </tr>

    }*@
</table>

@section Scripts{
    <script src="~/js/product.js"></script>
}